body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

header {
    background-color: #154734;
    color: white;
    padding: 10px;
    text-align: center;
}
.fc-event-main-frame {
  white-space: normal; /* Allows the text to wrap and respects <br> */
}
.calendar{
    background-color: #154734;
    color :#154734;
}
footer {
    text-align: center;
    background-color:#154734;
    color: white;
    padding: 24px;
}